body
{
	font-family:Garamond;
}
#lewy
{
	height:500px;
	width:25%;
	background-color:Lavender;
	float:left;
}
#lew
{
	height:300px;
	width:25%;
	background-color:Lavender;
	float:left;
}
#prawy
{
	height:150px;
	width:75%;
	background-color:Indigo;
	color:white;
	font-size:200%;
	text-align:center;
	float:right;
}
#praw
{
	height:650px;
	width:75%;
	background-color:Lavender;
	font-size:200%;
	text-align:center;
	float:right;
}
#stopka
{
	clear:both;
	color:white;
	text-align:right;
	background-color:indigo;
}
ul
{
	list-style:square;
}
img
{
	padding:5px;
	margin:10px;
}
img:hover
{
	padding:4px;
	border: 1px solid indigo;
}
	